$mobileWidh: 768px;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@mixin gradient-text($gradient, $bg : "light") {
  @supports (mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == "light") {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}
body {
  overflow-x: hidden;
  &.overlay-open {
    overflow-y: hidden;
  }
}
.formOverlay {
  background: linear-gradient(
      rgba(255, 255, 255, 0.93),
      rgba(255, 255, 255, 0.93)
    ),
    url("../assets/signup_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  .meracle-index-logo {
    width: 64px;
    position: absolute;
    top: 5.6%;
    left: 3%;
  }
  h1 {
    font-size: 38px;
    color: #555555;
    letter-spacing: 2.4px;
    line-height: 48px;
    font-weight: 400;
    // top: 11%;
    // position: absolute;
  }
  p {
    font-size: 16px;
    color: #6d7084;
    letter-spacing: 1.6px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 16px;
    margin-top: 5%;
    a {
      font-size: 16px;
      color: #144669 !important;
      letter-spacing: 1.6px;
      line-height: 26px;
      cursor: pointer;
      font-weight: 400 !important;
    }
  }
  .form-card {
    background: #ffffff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 3.1% 5.6%;
  }
  .anticon-close {
    font-size: 32px;
    color: #6d7084;
    position: absolute;
    font-weight: 300;
    top: 6.2%;
    right: 3.4%;
    cursor: pointer;
  }
}
#welcome-section {
  width: 100%;
  background-image: linear-gradient(0deg, #537895 0%, #09203f 100%);
  background-attachment: fixed;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  .header {
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1.6px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 32px;
    li {
      cursor: pointer;
      a {
        color: #ffffff;
        cursor: pointer;
      }
      margin-right: 55px;
    }
  }
  .container {
    padding-top: 64px;
    h1 {
      margin-bottom: 8px;
      margin-top: 32px;
      font-size: 38px;
      color: #ffffff;
      letter-spacing: 2.4px;
      line-height: 48px;
      font-weight: 400;
    }
    h3 {
      margin-bottom: 32px;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 1.8px;
      line-height: 28px;
      font-weight: 300;
    }
    .index-joinus-btn {
      background-image: linear-gradient(-66deg, #50c9c3 0%, #96deda 100%);
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      width: 200px;
      height: 56px;
      border: none !important;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 1.6px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    .meracle-index-logo {
      width: 170px;
      filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
      -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
    }
    .demo-device-wrapper {
      margin-left: auto;
      margin-right: auto;
      .meracle-index-laptop {
        max-height: 500px;
        z-index: 1 !important;
      }
    }
  }
}
#features-section {
  width: 100%;
  background-color: #ffffff;
  min-height: calc(100vh*2);
  background-size: cover;
  overflow: hidden;
  .container {
    padding-top: 50px;
    text-align: center;
  }
  img {
    @media (max-width: $mobileWidh) {
      padding: 50px;
    }
  }
  .recharts-wrapper {
    @media (min-width: $mobileWidh) {
      float: right;
    }
    @media (max-width: $mobileWidh) {
      margin-top: 50px;
    }
  }
  h1 {
    text-align: center;
    font-size: 30px;
    color: #1d1d26;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 112px;
  }
  .row {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    &:not(:last-child) {
      border-bottom: 5px solid #fafafa;
    }
  }
  .meracle-feature-wrapper-border {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-left: 120px;
    &.justify-feature-wrapper-border {
      @media (max-width: 1200px) {
        margin-left: 30px !important;
      }
      @media (max-width: $mobileWidh) {
        margin-left: 90px !important;
      }
    }
  }
  .meracle-feature-wrapper {
    width: 415px;
    padding: 32px;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    h2 {
      font-size: 34px;
      color: #1d1d26;
      letter-spacing: 2.4px;
      line-height: 48px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    h3 {
      font-size: 18px;
      color: #555555;
      letter-spacing: 1.8px;
      line-height: 28px;
      font-weight: 300;
    }
  }
}
#data-section {
  min-height: 75vh;
  text-align: center;
  background-image: url("../assets/graph.png"),
    linear-gradient(63deg, #537895 0%, #09203f 98%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 64px;
  overflow: hidden;

  padding-bottom: 50px;

  .row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    margin-bottom: 64px;
    margin-top: 64px;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 300;
  }
  .data-item-wrapper-left {
    border-top: 200px solid rgba(255, 255, 255, 0.15);
    border-left: 0px solid transparent;
    border-right: 75px solid transparent;
    width: 110%;
    // height: 200px;
    color: white;
    filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
    // border-radius: 8px;
    @media (max-width: $mobileWidh) {
      margin-bottom: 100px;
    }
  }
  .data-item-wrapper-right {
    border-bottom: 200px solid rgba(255, 255, 255, 0.15);
    border-left: 75px solid transparent;
    border-right: 0px solid transparent;
    width: 110%;
    color: white;
    filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
    // border-radius: 8px;
    @media (max-width: $mobileWidh) {
      margin-bottom: 100px;
    }
  }
  .data-item-wrapper-middle {
    width: 110%;
    height: 200px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px 0 0 8px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    @media (max-width: $mobileWidh) {
      margin-bottom: 100px;
    }
  }
  .data-content {
    font-size: 20px;
    color: #fafafa;
    letter-spacing: 1.8px;
    line-height: 43px;
    margin-top: -180px;
    z-index: 10;
    font-weight: 300;
    p {
      color: #ffffff;
      font-size: 56px;
      letter-spacing: 4px;
      line-height: 56px;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
      margin-bottom: 19px;
    }
    @media (max-width: $mobileWidh) {
      margin-top: -250px;
    }
  }
}
#qa-section {
  width: 100%;
  min-height: 85vh;
  overflow: hidden;
  padding-bottom: 60px;
  h1 {
    text-align: center;
    font-size: 30px;
    color: #1d1d26;
    letter-spacing: 2px;
    line-height: 40px;
    margin-top: 64px;
    margin-bottom: 64px;
    font-weight: 300;
  }
  .demo_gif {
    width: 240px;
    height: 429px;
    position: absolute;
    margin-top: 66px;
    margin-left: 117px;
    @media (max-width: 991px) {
      margin-left: 16px;
    }
    @media (min-width: 1200px) {
      margin-left: 190px;
    }
  }
  .col-md-5 {
    @media (max-width: $mobileWidh) {
      text-align: center;
      padding-bottom: 50px;
    }
  }
  img {
    width: 270px;
    @media (min-width: $mobileWidh) {
      float: right;
    }
  }
  .qa-steps {
    @media (min-width: 991px) {
      padding-top: 64px;
    }
    .col-md-2 {
      span {
        font-size: 24px;
        color: #9acbd9;
        letter-spacing: 2px;
        line-height: 24px;
        padding: 8px 12px;
        border: 2px solid #9acbd9;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 10px;
        @media (min-width: $mobileWidh) {
          position: absolute;
        }
        &.active {
          color: #144669;
          border: 2px solid #144669;
        }
      }
    }
    .col-md-10 {
      @media (max-width: $mobileWidh) {
        padding-top: 10px;
      }
      h3 {
        font-size: 34px;
        color: #9acbd9;
        letter-spacing: 2.4px;
        line-height: 48px;
        font-weight: 400;
        margin-bottom: 8px;
        &.active {
          color: #144669;
        }
      }
      h4 {
        font-size: 18px;
        color: #555555;
        letter-spacing: 1.8px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 32px;
        &.active {
          color: #1d1d26;
        }
      }
    }
  }
}
#user-experience-section {
  width: 100%;
  min-height: 70vh;
  text-align: center;
  padding-top: 64px;
  overflow: hidden;
  padding-bottom: 60px;
  background-image: linear-gradient(63deg, #537895 0%, #09203f 98%);
  h1 {
    margin-bottom: 64px;
    margin-top: 64px;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 300;
  }
}
#aboutus-section {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 60px;
  overflow: hidden;
  @media (max-width: $mobileWidh) {
    padding-bottom: 50px;
  }
  h1 {
    font-size: 30px;
    color: #1d1d26;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 300;
  }
  .team-member {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px 18px;
    margin-top: 64px;
    background: white;
    min-width: 300px;
    max-width: 300px;
    margin-right: 30px;
    margin-left: auto;
    margin-right: auto;
    .team-member-name {
      font-size: 18px;
      color: #1d1d26;
      letter-spacing: 1.8px;
      line-height: 28px;
      font-weight: 400;
      margin-top: 16px;
    }
    .team-member-position {
      font-size: 18px;
      color: #555555;
      letter-spacing: 1.8px;
      line-height: 28px;
      font-weight: 300;
      margin-top: 5px;
    }
    .team-member-avatar-wrapper {
      width: 138px;
      height: 138px;
      border-radius: 10px;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.5s;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
#footer-section {
  width: 100%;
  min-height: 80vh;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 64px;
  overflow: hidden;
  background-image: linear-gradient(63deg, #537895 0%, #09203f 98%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &:after {
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    background: url("../../../components/assets/logo_no_background.png");
    opacity: 0.25;
    content: "";
    background-position: 50% 0;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 20%;
    z-index: 1;
    margin-top: -350px;
    pointer-events: none;
    @media (min-width: 1600px) {
      margin-top: -450px;
    }
  }
  h1 {
    margin-bottom: 64px;
    margin-top: 64px;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 300;
    z-index: 2;
  }
  p {
    font-size: 18px;
    color: #fafafa;
    letter-spacing: 1.8px;
    line-height: 28px;
    font-weight: 300;
    padding: 0 18%;
    z-index: 2;
  }
  .index-download-btn {
    background: #9acbd9;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 200px;
    height: 56px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1.6px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    margin-top: 14%;
    cursor: pointer;
    z-index: 1000;
  }
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;

  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */

.cloud {
  height: 50px;
  position: absolute;
  width: 150px;
}

.slick-arrow {
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  width: 40px !important;
  height: 40px !important;
  // &.slick-prev:before {
  //   content: "\1F868" !important;
  //   /* <unicode-range> values */
  //   unicode-range: U+26; /* single codepoint */
  //   unicode-range: U+0-7f;
  //   unicode-range: U+0025-00ff; /* codepoint range */
  //   unicode-range: U+4??; /* wildcard range */
  //   unicode-range: U+0025-00ff, U+4??; /* multiple values */
  // }
  // &.slick-next:before {
  //   content: "\1F86A" !important;
  //   /* <unicode-range> values */
  //   unicode-range: U+26; /* single codepoint */
  //   unicode-range: U+0-7f;
  //   unicode-range: U+0025-00ff; /* codepoint range */
  //   unicode-range: U+4??; /* wildcard range */
  //   unicode-range: U+0025-00ff, U+4??; /* multiple values */
  // }
}
.slick-list {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3); 
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1.8px;
  line-height: 28px;
  min-height: 200px;
  font-weight: 400;
  text-align: left;
  .row {
    padding: 8px 32px;
  }
  .col-md-6 {
    @media (max-width: $mobileWidh) {
      padding-right: 25%;
    }
  }
}
.slick-slider {
  padding: 0 40px;
}
.user-photo-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  @media (min-width: $mobileWidh) {
    margin-left: auto;
    margin-right: auto;
  }
  transition: all 0.5s;
  @media (max-width: $mobileWidh) {
    width: 80%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

#sider-download-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
  @media (max-width: $mobileWidh) {
    display: none;
  }
  img {
    position: absolute;
    top: -50px;
    right: 10px;
  }
  .index-download-btn {
    background: #9acbd9;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 160px;
    height: 54px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1.6px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    margin-top: 14%;
    cursor: pointer;
  }
}
.ant-back-top-content {
  background-color: #9acbd9 !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  i {
    margin-top: 20px !important;
  }
}
.ant-calendar-picker-input {
  cursor: pointer;
}
.ant-calendar-picker-container {
  z-index: 6000 !important;
}
.ant-input:hover {
  border-color: #9acbd9 !important;
}
.ant-calendar-today {
  .ant-calendar-date {
    border-color: #78bacc !important;
    color: #78bacc !important;
  }
}
.ant-calendar-selected-day .ant-calendar-date {
  background: #78bacc !important;
  color: #ffffff !important;
}
