.ant-menu.ant-menu-dark {
  .ant-menu-item-selected {
    background-color: #0c4268;
  }
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #0c4268;
}

.logo {
  height: 60px;
  // background: #C5C5C5;
  border-radius: 6px;
  margin: 16px;
  .logo-img {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
  }
  span {
    top: 11px;
    position: relative;
    color: white;
    font-weight: 100;
    font-size: 24px;
    margin-left: 15px;
    .notice {
      color: #f77c86;
    }
  }
}

.dashboard-left-link {
  color: #c0c0c0;
}

.dashboare-left-link-active {
  color: white;
}
