%meracle-button {
  border: 2px solid #9acbd9;
  border-radius: 4px !important;
  height: 40px !important;
  line-height: 24px !important;
  font-size: 14px !important;
  color: #9acbd9;
  letter-spacing: 1.4px;
}

.meracle-outline-btn {
  @extend %meracle-button;
  font-weight: 500;
  &:hover {
    border: 2px solid #78bacc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    color: #78bacc;
  }
}
.register-form {
  .meracle-btn {
    @extend %meracle-button;
    background: #9acbd9 !important;
    width: 100%;
    color: #ffffff !important;
    font-weight: 500;
    &:hover {
      color: #ffffff !important;
      @extend %meracle-button;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      background: #78bacc !important;
      border: 1px solid #78bacc !important;
    }
  }
  .form-control {
    width: 280px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #ebebed;
    border-radius: 5px;
  }
  .has-error {
    .form-control {
      border: 1px solid #e6acb2 !important;
    }
  }
  label {
    font-size: 14px;
    color: #6d7084 !important;
    letter-spacing: 0.4px;
    line-height: 22px;
    font-weight: 300;
    &::before {
      content: "" !important;
    }
  }
  .bottom-btn-wrapper {
    text-align: center;
    margin-bottom: 10px;
    a {
      font-size: 14px;
      color: #6d7084;
      letter-spacing: 0.4px;
      line-height: 22px;
      margin-top: 20px;
    }
  }
  .ant-calendar-picker-container {
    top: 40vh !important;
  }
  .register-avatar-wrapper {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid;
    transition: all 0.5s;
    background-color: #ffffff;
    z-index: 2;
    background-image: linear-gradient(-135deg, #9acbd9 0%, #144669 100%);
    -webkit-border-image: linear-gradient(-135deg, #9acbd9 0%, #144669 100%);
    // -webkit-border-image: -webkit-gradient(-135deg, left top, left bottom, from(#9ACBD9), to(#144669), color-stop(0.5, #144669), color-stop(0.5, #144669)) 21 30 30 21 repeat repeat;
    img {
      background-color: #ffffff;
      object-fit: cover;
      width: 110px;
      height: 110px;
    }
  }
  .register-name {
    font-size: 14px;
    color: #555555;
    letter-spacing: 0.4px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
  }
  .register-email {
    font-size: 14px;
    color: #6d7084;
    letter-spacing: 0.4px;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
  }
}
