::selection {
  background: #2b5b7c !important;
}
.ant-btn {
  &:hover {
    border-color: #78bacc;
  }
  &:active {
    border-color: #78bacc;
    color: #78bacc;
  }
  &:focus {
    border-color: #78bacc;
  }
}
%meracle-button {
  border: 2px solid #9acbd9;
  border-radius: 4px !important;
  height: 40px !important;
  line-height: 24px !important;
  font-size: 14px !important;
  color: #9acbd9;
  letter-spacing: 1.4px;
}

.meracle-outline-btn {
  @extend %meracle-button;
  font-weight: 500;
  &:hover {
    border: 2px solid #78bacc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    color: #78bacc;
  }
}
.meracle-btn {
  @extend %meracle-button;
  background: #9acbd9 !important;
  color: #ffffff !important;
  font-weight: 500;
  &:hover {
    color: #ffffff !important;
    @extend %meracle-button;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #78bacc !important;
    border: 1px solid #78bacc !important;
  }
}
.ant-card-head-title {
  font-size: 14px;
  color: #555555;
  letter-spacing: 1px;
  font-weight: 300;
}
.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

.steps-content {
  height: 470px;
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding: 20px;
}
.edit-wrapper {
  .ant-form-item {
    text-align: center;
  }
}
.bottom-btn-wrapper {
  text-align: center;
  .meracle-outline-btn {
    margin-left: 8px;
  }
}
