::selection {
  background: #2b5b7c !important;
}
%meracle-button {
  border: 2px solid #9acbd9 !important;
  border-radius: 4px !important;
  height: 40px !important;
  line-height: 24px !important;
  font-size: 14px !important;
  color: #9acbd9 !important;
  letter-spacing: 1.4px;
  width: 100%;
}

.meracle-outline-btn {
  @extend %meracle-button;
  &:hover {
    border: 1px solid #78bacc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
}
.meracle-btn {
  @extend %meracle-button;
  background: #9acbd9 !important;
  color: #ffffff !important;
  &:hover {
    color: #ffffff !important;
    @extend %meracle-button;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #78bacc !important;
    border: 1px solid #78bacc !important;
  }
}
.meracle-dropdown-btn {
  button {
    height: 40px;
    font-size: 16px;
    &:focus {
      border: 1px solid #9acbd9 !important;
    }
    &:first-child:not(:last-child) {
      padding: 0 25px 0 25px !important;
      color: #555555;
      letter-spacing: 1px;
    }
    &:last-child {
      position: absolute;
      padding-left: 15px;
      background: rgba(109, 112, 132, 0.1);
      color: rgba(109, 112, 132, 0.3);
      .anticon-down {
        font-size: 18px;
        &:before {
          content: "\25BE" !important;
          font-family: unset !important;
          zoom: 1.5;
        }
      }
      &.ant-btn-clicked:after {
        border: 1px solid #d9d9d9 !important;
      }
    }
  }
}
.enter-game-wrapper {
  .ant-card-body {
    padding-bottom: 0 !important;
  }
  div {
    margin-bottom: 10px;
  }
  .enter-game-title-wrapper {
    @media screen and (max-width: 991px) {
      text-align: center;
    }
    .enter-game-title {
      font-size: 16px;
      color: #555555;
      letter-spacing: 1px;
      line-height: 40px;
    }
  }
  .cdname-dropdown-wrapper {
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
}
.dashboard-index-card {
  margin-right: 20px;
  margin-bottom: 50px;
  .ant-card-head-title {
    font-size: 14px;
    color: #555555;
    letter-spacing: 1px;
  }
}
.recharts-default-legend {
  text-align: left !important;
  padding-left: 10% !important;
}
.avg-data-wrapper {
  width: 100%;
  height: 90%;
}
.latest-data-wrapper {
  .ant-card-body {
    text-align: center;
    .latest-data-name {
      font-size: 12px;
      color: #6d7084;
    }
    .latest-data-time {
      opacity: 0.5;
      font-size: 10px;
      color: #6d7084;
      letter-spacing: 0.3px;
      margin-top: 8px;
    }
    .ant-progress {
      margin: auto;
      margin-top: 16px;
      width: 100%;
      .ant-progress-inner {
        width: 60% !important;
        height: auto !important;
        .ant-progress-circle-path {
          stroke: #9acbd9;
        }
        .ant-progress-text {
          font-size: 34px;
          color: #6d7084;
          letter-spacing: 1px;
          margin-top: -12px;
          @media screen and (min-width: 768px) and (max-width: 1270px) {
            margin-top: unset;
          }
          @media screen and (min-width: 768px) and (max-width: 1100px) {
            font-size: 20px;
          }
        }
      }
    }
    .progress-gain {
      font-size: 14px;
      color: #9acbd9;
      letter-spacing: 0.17px;
      line-height: 16px;
      position: relative;
      top: -5vh;
      @media screen and (min-width: 768px) and (max-width: 1270px) {
        display: none;
      }
    }
  }
}
.best-data-wrapper {
  text-align: center;
  .ant-card-head-title {
    text-align: left;
  }
  .best-section-icon {
    width: 15px;
    margin-right: 8px;
  }
  .info-text {
    word-break: keep-all;
  }
}
