$mobileWidh: 768px;
body {
  font-family: "Roboto", "Noto Sans TC", "Arial Unicode MS", sans-serif;
}
.page-layout__viewport {
  // padding-top: 4rem;
  padding: 0;
  margin: 0;
  width: 100%;
}
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf)
      format("opentype");
}
.meracle-navbar {
  .navbar {
    width: 100%;
    background-color: #222838!important;
    transition: .2s background;
    z-index: 100;
    a {
      color: white!important;
    }
    &.not-in-top {
      position: fixed;
      background: #FBEFEF!important;
      transition: .2s background;
      a {
        color: initial!important;
      }
    }
  }
  .navbar-nav {
    @media (min-width: $mobileWidh) {
      position: absolute;
      right: 50px;
    }
  }
  .navbar-toggler {
    outline: none;
    cursor: pointer;
  }
}
.navbar-brand {
  .meracle-navbar-logo {
    width: 60px;
    height: auto;
  }
  span {
    top: 11px;
    position: relative;
    color: #0c4268;
    font-weight: 100;
    font-size: 24px;
    margin-left: 15px;
    .notice {
      color: #f77c86;
    }
  }
}
