$mobileWidh: 768px;
body {
  font-family: "Roboto", "Noto Sans TC", "Arial Unicode MS", sans-serif;
}
.page-layout__viewport {
  // padding-top: 4rem;
  padding: 0;
  margin: 0;
  width: 100%;
}
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf)
      format("opentype");
}
.meracle-navbar {
  .navbar {
    display: none;
    visibility: hidden;
    width: 100%;
    background-color: #102847 !important;
    transition: 0.5s all;
    z-index: 100;
    a {
      color: white !important;
    }
    &.not-in-top {
      display: unset;
      visibility: visible;
      position: fixed;
      opacity: 0.91;
      background-color: #ffffff !important;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
      transition: 0.5s all;
      a {
        color: #144669 !important;
        font-size: 16px;
        letter-spacing: 1.6px;
        line-height: 26px;
        font-weight: 400;
      }
    }
  }
  .navbar-nav {
    @media (min-width: $mobileWidh) {
      position: absolute;
      right: 50px;
      top: 24px;
    }
  }
  .navbar-toggler {
    outline: none;
    cursor: pointer;
    float: right;
    margin-top: 15px;
  }
  .joinus-btn {
    border: none;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26px;
    font-weight: 500;
    padding-left: 0;
    @media (min-width: $mobileWidh) {
      padding-left: initial;
      background: #50c9c3;
      border-radius: 4px;
      width: 170px;
      height: 48px;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 1.6px;
      line-height: 26px;
      font-weight: 500;
      margin-left: 16px;
    }
  }
}
.navbar-brand {
  .meracle-navbar-logo {
    width: 60px;
    height: auto;
  }
  span {
    top: 11px;
    position: relative;
    color: #0c4268;
    font-weight: 100;
    font-size: 24px;
    margin-left: 15px;
    .notice {
      color: #f77c86;
    }
  }
}
